/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
body{
    font: 2em Tahoma;
}

.link{
    height: 140px;
    border-radius: 5px;
    background: #6FE64E;
    border: solid 1px #999;
    text-align: center;
    line-height: 140px;
    margin-bottom: 10px;
    font-size: 3em;
    cursor: pointer;
}

.icon{
    padding-left: 140px;
    background-position: 10px 50%;
    background-repeat: no-repeat;
}
.icon-fire{
    background-image: url(../img/fire.png);
}
.icon-help{
    background-image: url(../img/help.png);
}
.icon-mug{
    background-image: url(../img/mug.png);
}
.icon-crash{
    background-image: url(../img/crash.png);
}
.icon-home{
    background-image: url(../img/home.png);
}
.icon-return{
    background-image: url(../img/return.png);
    background-size: 64px 64px;
    height: 80px;
    line-height: 80px;
    font-size: 1.5em;
}

.question{
    display: none;
}

#sms{
    text-align: center;
    font-size: 0.8em;
    margin: 30px;
}